
@font-face {
   font-family: "montserrat";
   src: local("montserrat"), url("./fonts/Montserrat-Bold.woff") format("woff");
   font-weight: bold;
}

@font-face {
   font-family: "montserrat";
   src: local("montserrat"), url("./fonts/Montserrat-Black.woff") format("woff");
   font-weight: black;
}

@font-face {
   font-family: "montserrat";
   src: local("montserrat"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
   font-weight: semibold;
}

@font-face {
   font-family: "montserrat";
   src: local("montserrat"), url("./fonts/Montserrat-Regular.woff") format("woff");
   font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
   @apply shadow p-6 mb-6 rounded-sm bg-white hover:shadow-md;
}

.sect {
   @apply px-6 py-12 font-light sm:pt-20;
}

.heading {
   @apply mb-12 font-bold text-3xl text-center text-titleColor;
}

.input-wrapper {
   @apply grid grid-cols-3 gap-4 justify-start mb-4;
}

.input {
   @apply col-span-2 border-2 py-1 px-3;
}

.nav {
   @apply grid grid-cols-2 gap-4 w-12 justify-center transitions hover:text-red-600;
}

.transitions {
   @apply transition-all duration-300 ease-in;
}